<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SRGAN</title>
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
  <link href="{{url_for('static', filename='css/hmpage1.css')}}" rel="stylesheet">
</head>
<body>
  <img src="https://cdn4.iconfinder.com/data/icons/medical-volume-2-3/48/85-512.png"/>
  <div class='row'>
    <div class="images">
      <img class="image" src="{{url_for('static', filename='image.png')}}" alt="image">
    </div>
    <div class="images">
      <img class="image1" src="{{url_for('static', filename='image1.png')}}" alt="image">
    </div>
  </div>
  <div class= "buttons">  
    <a href="/download" class="button">Download</a>
    <a href="/" class="button">Back</a>
  </div>
</body>
</html>